{% extends "base.html" %}
{% load static %}
{% block css %}
  {% include "css/main.css.html" %}
{% endblock css %}
{% block content %}
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Create a New Blog</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          {% for field in form %}
            <div class="sm:col-span-2">
              {% if field.name == 'title' %}
                <label for="{{ field.id_for_label }}"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  {{ field.label }}
                  {% if field.field.required %}*{% endif %}
                </label>
                {{ field }}
              {% endif %}
            </div>
            {% if field.name == 'content' %}
              <div class="sm:col-span-2">
                <label for="{{ field.id_for_label }}"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  {{ field.label }}
                  {% if field.field.required %}*{% endif %}
                </label>
                {{ field }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
          Submit
        </button>
      </form>
    </div>
  </section>
{% endblock content %}
